.calendar-day {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 24px;
  border: 1px solid #e0e0e0;
  display: flex;
}

.day-container {
  width: 7%;
  display: flex;
  justify-content: center;
}

.day-data {
  height: 100%;
  padding: 10%;
  color: #696969;
}

.calendar-event-container {
  width: 93%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active {
  background-color: #d4e0ff;
  border-radius: 50%;
}
